body{
  margin-top: 0;
  background-size:cover;
  background-attachment: fixed;
  background-image: url(https://i.playground.ru/p/db1OjkR_geCiuIgZOyjPxg.jpeg);
}
.logo{
  width:80px;
}
.borderOfTitle{
  width: 240px;
  /*height: 140px;*/
  border: 4px inset #c10000;
  margin: 25px 30px;
  text-align: center ;
  font-weight: bold;
  background-color: rgba(255,255,255,0.7);
  padding-top: 0px;
}
.borderOfTitle:hover{
  border: 4px inset #ffab00;
}
.coverForDate{
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  border: 3px inset #c10000;
}
.colorOfTitle{
  color: #FFD500;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-shadow: red 0 0 2px;
}
